<header>
  <h1 class="text-center">Your Order</h1>
</header>
<div ng-hide="isNotEmpty()" class="alert alert-info">No items in the cart</div>
<div ng-show="errorMessage" class="alert alert-danger">Error occured: {{errorMessage}}</div>
<div ng-show="successMessage" class="alert alert-success">{{successMessage}}</div>
<div ng-show="isNotEmpty()">
  <table class="table-striped table">
    <thead>
    <tr class="h3">
      <th>Name</th>
      <th>Quantity</th>
      <th>Price per item</th>
      <th>Total</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $parent.productsInCart" class="h4">
      <td>{{item.name}}</td>
      <td><input ng-model='item.preOrderQuantity' type="number"></td>
      <td>{{item.price | currency}}</td>
      <td>{{item.price * item.preOrderQuantity | currency}}</td>
      <td>
        <button ng-click="$parent.remove($index)" class="btn btn-danger">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="list-group">
    <a class="center-block btn btn-success btn-lg" type="button" ng-click="makeOrder()">Order</a>
  </div>
</div>
